# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/.env.local
backend/.env.production
backend/*.pyc

# General
.DS_Store
*.log
